:root {
  --gris: rgb(17, 24, 39);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.top, .middle, .bottom { min-width: 650px; }
.top {  }
.middle {  }
.bottom { position: relative; }
.bottom .bottom-container { height: 100%; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: center; }
.bottom .bottom-col { flex: 1 0 calc(100% / 3); }
.bottom .dpad { flex-basis: 20%; padding: 0 1rem 5rem 1rem; }
.bottom .bottom-screen { flex-basis: 60%; }
.bottom .abxy { flex-basis: 20%; }



.directional-pad { 
  display: flex; 
  flex-wrap: wrap;
}

.dpad-btn {
  flex: 1 0 calc(100% / 3);
  background: var(--gris);
  color: #FFF;
}
.dpad-btn:hover {
  background: var(--gris);
}

.dpad-btn:nth-child(1),
.dpad-btn:nth-child(3),
.dpad-btn:nth-child(7),
.dpad-btn:nth-child(9) {
  border-color: transparent;
  border: none;
  opacity: 0;
}

.dpad-btn:nth-child(5) {
  border: 0;
}

.dpad-btn:nth-child(2),
.dpad-btn:nth-child(4),
.dpad-btn:nth-child(6),
.dpad-btn:nth-child(8) {
  border: 1px solid black;
}




* { cursor: none !important; }


.background {
  background-image: url('./background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
}
