.abxy { display: flex; width: 100%; flex-direction: row; flex-wrap: wrap; align-content: center; justify-content: center; align-items: center; padding-bottom: 5rem; }
.abxy .abxyBtn { flex: 1 0 calc(100% / 4); text-align: center; }
.abxy .abxyBtn .abxyBtnContent { text-align: center; display: inline-block; border-radius: 100%; border: 2px solid var(--gris); color: #FFF; background: var(--gris); line-height: 1; padding: .25rem .5rem; }
.abxy .abxyBtn.x { flex: 1 0 100%; }
.abxy .abxyBtn.y { flex: 1 0 50%; }
.abxy .abxyBtn.a { flex: 1 0 50%; }
.abxy .abxyBtn.b { flex: 1 0 100%; }